@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}


.rotated-half-circle {
    /* Create the circle */
    width: 40px;
    height: 40px;
    border: 10px solid black;
    border-radius: 50%;
    /* Halve the circle */
    border-bottom-color: transparent;
    border-left-color: transparent;
    /* Rotate the circle */
    transform: rotate(-45deg);
  }